<h1> formulaire: </h1>
<input type="text" placeholder="enter your name..." />
<input type="text" placeholder="enter your email.." />
<select name="cars" id="cars">
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option>
</select>
<input type="button" value="submit" />
<input type="button" value="delete" />